[Unit]
Description=Containerized Postgreql database server at LAN IP %i

Requires=docker.service

After=docker.service

[Service]
Type=simple

TimeoutStartSec=0

KillMode=none

ExecStartPre=/usr/bin/docker container create \
    --name postgresql \
    --read-only \
    --mount source=postgresql-data,target=/var/lib/postgresql/data \
    --tmpfs /run \
    --tmpfs /tmp \
    --env POSTGRES_USER="${POSTGRES_USER}" \
    --env POSTGRES_DB="${POSTGRES_DB}" \
    --env POSTGRES_PASSWORD="${POSTGRES_PASSWORD}" \
    --publish %i:5432:5432/tcp \
    postgres:alpine
ExecStart=/usr/bin/docker container start --attach postgresql

ExecStop=/usr/bin/docker container stop postgresql
ExecStopPost=/usr/bin/docker container rm postgresql

[Install]
WantedBy=multi-user.target
