[Unit]
Description=Containerized Wagtail application server at LAN IP %i

Requires=docker.service

After=docker.service

[Service]
Type=simple

TimeoutStartSec=0

KillMode=none

ExecStartPre=/usr/bin/docker container create \
    --name wagtail \
    --read-only \
    --mount source=wagtail-webapp,target=/usr/share/webapp \
    --publish %i:5432:5432/tcp \
    --publish %i:8000:8000/tcp \
    wagtail
ExecStart=/usr/bin/docker container start --attach wagtail

ExecStop=/usr/bin/docker container stop wagtail
ExecStopPost=/usr/bin/docker container rm wagtail

[Install]
WantedBy=multi-user.target
