[Unit]
Description=Containerized NGINX web server at LAN IP %i

Requires=docker.service

After=docker.service

[Service]
Type=simple

TimeoutStartSec=0

KillMode=none

ExecStartPre=/usr/bin/docker container create \
    --name nginx \
    --read-only \
    --mount source=nginx-config,target=/etc/nginx,readonly \
    --mount source=nginx-cache,target=/var/cache/nginx \
    --mount source=nginx-pid,target=/var/run \
    --publish %i:80:80/tcp \
    --publish %i:8000:8000/tcp \
    nginx:latest
ExecStart=/usr/bin/docker container start --attach nginx

ExecStop=/usr/bin/docker container stop nginx
ExecStopPost=/usr/bin/docker container rm nginx

[Install]
WantedBy=multi-user.target
